services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: entellobot
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./src:/app:cached
      - ./waiting_messages.json:/bot/waiting_messages.json
      - ./audio:/audio
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512M
